body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 960px;
    margin: 0 auto;
}
#tbl{
    width: 100%;
    border-collapse: collapse;
}
#tbl th, #tbl td{
    border: 1px solid black;
    height: 30px;
}
#tbl thead tr:first-child{
    background-color: gray;
}
#tbl td:nth-child(1){
    background-color: blue;
    text-align: center;
}
#tbl tr:nth-child(2n+1){
    background-color: antiquewhite;
}
#tbl tbody:last-child{
    background-color: lightslategray;
}